/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

:root {
  --bg-sidebar: red;
}

@font-face {
  font-family: Roboto;
  src: url(font-roboto/Roboto-Regular.ttf);
}

* {
  background-color: #eee;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

button:hover {
  cursor: pointer;
}

.sidebar {
  background-color: var(--bg-sidebar);
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 30px 180px 90px;
  gap: 2rem;
  color: white;
  /*Easier:
  display: flex;
  flex-direction: column; */
}

.sidebar * {
  background-color: var(--bg-sidebar);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo > img {
  height: 2.5rem;
  width: auto;
}

.nav li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav li > img {
  height: 1.3rem;
}

.header {
  background-color: lightblue;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 4rem;
  gap: 0.5rem;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.header > :nth-child(2),
.header > :last-child {
  justify-self: end;
  padding-right: 2rem;
}

.header > :first-child,
.header > :nth-child(3) {
  justify-self: start;
  padding-left: 2rem;
}

.profile,
.search,
.notif,
.action {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
}

.profile > img {
  height: 4rem;
  border-radius: 50%;
}

.profile > div > p:first-child {
  font-size: 0.8rem;
}

.profile > div > p:last-child {
  font-size: 1.2rem;
}

.search > img,
.search > input {
  height: 1.5rem;
}

.search > input {
  width: 25rem;
  border-radius: 1.5rem;
}

.notif > img:first-of-type {
  height: 1.2rem;
}

.notif > img:last-of-type {
  height: 2rem;
  border-radius: 50%;
}

.action > button {
  font-size: 0.8rem;
  height: 1.8rem;
  width: 5rem;
  border-radius: 1.8rem;
}

.main {
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.heading {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.projects {
  background-color: orange;
  padding: 1rem;
  grid-row: 1 / 3;
}

.projects .project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.project-cards > .card {
  border-left: 5px solid gray;
}

.card {
  border-radius: 10px;
  padding: 5px;
  -webkit-box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.card > * {
  padding: 0 0.5rem;
}

.card > :first-child {
  padding-top: 0.5rem;
}

.card > :last-child {
  padding-bottom: 0.5rem;
}

.projects .title {
  font-size: 0.9rem;
  font-weight: bold;
}

.projects .description {
  font-size: 0.6rem;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.card button {
  border: none;
}

button > img {
  height: 1.2rem;
}

.announcements {
  background-color: salmon;
  padding: 1rem;
  padding-left: 0;
}

.announcements .title {
  font-size: 0.75rem;
  font-weight: bold;
}

.announcements .description {
  font-size: 0.6rem;
}

.trending {
  background-color: seagreen;
  padding: 1rem;
  padding-left: 0;
}

.trending li {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.trending img {
  height: 2rem;
  border-radius: 50%;
}

p.username {
  font-size: 0.6rem;
}

p.name {
  font-size: 0.6rem;
}
