/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

:root {
  --bg-sidebar: red;
}

* {
  background-color: #eee;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  background-color: var(--bg-sidebar);
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 30px 180px 90px;
  gap: 2rem;
  color: white;
  /*Easier:
  display: flex;
  flex-direction: column; */
}

.sidebar * {
  background-color: var(--bg-sidebar);
}

.header {
  background-color: lightblue;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  justify-content: space-between;
}

.header > :nth-child(2),
.header > :last-child {
  justify-self: end;
}

.header > :first-child,
.header > :nth-child(3) {
  justify-self: start;
}

.main {
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.heading {
  font-size: 1.3rem;
  font-weight: bold;
}

.projects {
  background-color: orange;
  padding: 1rem;
  grid-row: 1 / 3;
}

.projects .project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.project-cards * {
  background-color: skyblue;
}

.card {
  border: 2px solid gray;
}

.projects .title {
  font-size: 1.1rem;
  font-weight: bold;
}

.projects .description {
  font-size: 0.8rem;
}

.announcements {
  background-color: salmon;
  padding: 1rem;
  padding-left: 0;
}

.announcements .title {
  font-size: 0.75rem;
  font-weight: bold;
}

.announcements .description {
  font-size: 0.6rem;
}

.trending {
  background-color: seagreen;
  padding: 1rem;
  padding-left: 0;
}

p.username {
  font-size: 0.75rem;
}

p.name {
  font-size: 0.75rem;
}
